[submodule "tclap"]
	path = tclap
	url = https://github.com/SimonLarsen/tclap.git
[submodule "graphio"]
	path = graphio
	url = https://github.com/SimonLarsen/graphio.git
[submodule "setops"]
	path = setops
	url = https://github.com/SimonLarsen/setops.git
