.wide-header {
	margin: 0 0 16px 0;
	background-color: #284281;
	padding: 12px 0 12px 0;
	border-bottom: 4px solid #1D2B50;
}

.wide-header h1,
.wide-header h2,
.wide-header h3,
.wide-header p{
	color: #fff;
	margin: 10px 0 10px 0;
}
